.overlay-panel {
    position: fixed;
    top: 50px;
    left: 10%;
    width: 80%;
    max-height: 90%;
    background-color: rgba(73, 91, 104, 0.8);
    border-radius: 30px;
    padding: 20px;
    z-index: 9999;
    overflow-y: auto;
    text-align: left;
    color: white;
}

/* Floating button */
.floating-button {
    position: fixed;
    top: 210px;
    right: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10000;
}
.btn-close {
    position: absolute;
    top: 10px;
    right: 50px;
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.overlay-title {
    color: white;
}

.submit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.input-field {
    background-color: #384751;
    color: white;
    width: 90%;
    border: none;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* List item container for links */
.link-list {
    list-style-type: none;
    padding-left: 0;
}

.link-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Image container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.image-wrapper {
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.selectable-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.selectable-image:hover {
    position: relative;
    transform-origin: center;
    align-items: center;
    transform: scale(1.25);
}

.selected-image {
    border: 30px solid #FFFF00;
}


/* Danger button for removing links */
.btn-danger {
    background-color: #db3737;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-danger:hover {
    background-color: #ba2f2f;
}

.btn-danger:active {
    background-color: #af2c2c;
}


